<div class="container">
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <div class="small-3 cell origin">
        <label>Origin
          <input type="text" [(ngModel)]="formInfo.origin" name="origin">
          <p class="help-text" id="passwordHelpText">The departure city. 3-digit code IATA format, for example: MAD - Madrid</p>
        </label>
      </div>
      <div class="small-3 cell passengers">
        <label>Passengers
          <input type="number" [(ngModel)]="formInfo.passengers" name="passengers" value="0">
          <p class="help-text" id="passwordHelpText">The number of passengers</p>
        </label>
      </div>
      <div class="small-3 cell maxPrice">
        <label>Max Price
          <input type="text" [(ngModel)]="formInfo.maxPrice" name="maxPrice">
          <p class="help-text" id="passwordHelpText"> Example ( EUR355.50 ) ( USD505.00 )</p>
        </label>
      </div>
      
    </div>
  </div>
</form>

<!--Dates-->
<table class="table">
  <thead>
    <tr>
      <th class="titles">Start date</th>
      <th class="titles">End date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <th><input id="startDate"type="date" [(ngModel)]="formInfo.startDate" name="startDate"></th>
     <th><input id="endDate"type="date" [(ngModel)]="formInfo.endDate" name="endDate"></th>
    </tr>
  </tbody>
</table>

 <button (click)="sendRequest()">Get my surprise!</button>
 
</div>

<!--loading button-->
<!-- *ngIf='haveFlight' -->
      <div *ngIf='haveFlight' class="help">
        <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
      </div>

 <!--3 opciones de precios y sorpresa-->
   <!-- *ngIf='search ' -->
<div *ngIf='search ' class="container2">
  <h1 class="container2Title"><em>Now choose one of this surprises!!</em></h1>
  <div class="icons"> 
  <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
  <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
  <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
  </div>

 <div class="card1">
  <div class="event">
    <span>#001</span>
    <div class="info">
      MAY 21, 2013
      <br/> Surprise #1!
    </div>
    <div class="price">
      {{search[0]}}
    </div>
  </div>
 </div>

 <div class="card2">
  <div class="event">
    <span>#002</span>
    <div class="info">
      MAY 24, 2013
      <br/> Surprise #2
    </div>
    <div class="price">
      {{search[1]}}
    </div>
  </div>
 </div>

  <div class="card3">
    <div class="event">
      <span>#003</span>
      <div class="info">
        MAY 24, 2013
        <br/> Surprise #3
      </div>
      <div class="price">
         {{search[2]}}
      </div>
    </div>
  </div>
</div>
