<div class="container">
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <div class="small-3 cell origin">
        <label>Origin
          <input type="text" [(ngModel)]="formInfo.origin" name="origin">
          <p class="help-text" id="passwordHelpText">The departure city. 3-digit code IATA format, for example: MAD - Madrid</p>
        </label>
      </div>
      <div class="small-3 cell passengers">
        <label>Passengers
          <input type="number" [(ngModel)]="formInfo.passengers" name="passengers" value="0">
          <p class="help-text" id="passwordHelpText">The number of passengers</p>
        </label>
      </div>
      <div class="small-3 cell maxPrice">
        <label>Max Price
          <input type="text" [(ngModel)]="formInfo.maxPrice" name="maxPrice">
          <p class="help-text" id="passwordHelpText"> Example ( EUR355.50 ) ( USD505.00 )</p>
        </label>
      </div>
      
    </div>
  </div>
</form>

<!--Dates-->
<table class="table">
  <thead>
    <tr>
      <th class="titles">Start date</th>
      <th class="titles">End date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <th><input id="startDate"type="date" [(ngModel)]="formInfo.startDate" name="startDate"></th>
     <th><input id="endDate"type="date" [(ngModel)]="formInfo.endDate" name="endDate"></th>
    </tr>
  </tbody>
</table>

 <button (click)="sendRequest()">Search</button>
</div>
