.logoTitle {
    position: relative;
    color: black;
    position: absolute;
    margin-left: 40px;
}

img {
    position: absolute;
    width: 50px;
    height: 45px;
}

.top-bar {
    background-color: #1585cf;
}

.menu {
    background: #1585cf;


}

a {
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-size: 14px;

}

.logoTitle {
    color: white;
}