
<!-- Start Top Bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
     <img src="https://cdn.pixabay.com/photo/2016/12/05/03/56/travel-1883060_960_720.png" alt="logo">
      <li><a class="menu-text" class="logoTitle" [routerLink]="['/']">Surprise Box!</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a [routerLink]="['/signup']">Sign Up</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/user']">User Profile</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<!-- End Top Bar -->
