form {
  margin-left: 50px;
}


.container {
  background-image: url("http://thekitemap.com/images/feedback-img.jpg");
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.80;

}